/*
.article-title {
	border-style: solid;
	border-color: #3366CC;
	border-radius: 15px;
	text-align: center;
	font-size: 50px;
	background-color: #3399CC;
	color: white;
}
*/

/*Css Assistance by tympanus*/
.article-title {
    margin          : 1em 0 0.5em 0;
    font-weight     : 600;
    position        : relative;  
    font-size       : 36px;
    line-height     : 40px;
    padding         : 15px 15px 15px 15%;
    color           : #355681;
    box-shadow      :   inset 0 0 0 1px rgba(53,86,129, 0.4), 
                        inset 0 0 5px rgba(53,86,129, 0.5),
                        inset -285px 0 35px white;
    border-radius   : 0 10px 0 10px;
    /*background: #fff url(../images/bartoszkosowski.jpg) no-repeat center left;*/
}

.article-img {
	margin-left: 20%;
}

textarea {
    border      :1px solid #999999;
    width       :100%;
    padding     : 7px 0 7px 7px; 
    position    :relative; 
    /*left:-8px;  */
    1px border, too 
}

.comment-sub-div {
    margin-top: 10px;
    border : solid 1px;
    border-radius: 2px;
    padding: 10px 25px 25px 25px;
    /*box-shadow: inset 1px 0px 20px 6px #ABABAB,8px 4px 13px 6px #DDDDDD;
    -webkit-box-shadow: inset 1px 0px 20px 6px #ABABAB,8px 4px 13px 6px #DDDDDD;
    -moz-box-shadow: inset 1px 0px 20px 6px #ABABAB,8px 4px 13px 6px #DDDDDD;
    -o-box-shadow: inset 1px 0px 20px 6px #ABABAB,8px 4px 13px 6px #DDDDDD;*/
}

.comment-sub-div-table td {
    padding: 5px;
}

.reply-to-comment {
    cursor          : pointer;
    text-decoration : underline;
}

.user-profile-thumbnail {
    width       : 60px;
    height      : 60px;
    overflow    : hidden;
}

.social-share-containter {
    margin-right: 26%;
    cursor: pointer;
}
